.Navlink {
  text-decoration: none;
  color: white;
  margin-right: 11px;
  margin-top: 6px;
}
.Navlink:hover {
  color: #79cbca;
}
.Nav-bg {
  background: linear-gradient(to right, #79cbca, #e684ae);
}
